<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">
<device xmlns:xi="http://www.w3.org/2001/XInclude" name="cer_right_hand_mc_remapper" type="controlboardremapper">
    <paramlist name="networks">
        <!-- elem name hereafter are custom names that live only in this file, they are used in the attach phase -->
        <elem name="FirstSetOfJoints">( 0  1  0  1 )</elem>
    </paramlist>
    <param name="joints"> 2 </param>
    <action phase="startup" level="5" type="attach">
        <paramlist name="networks">
            <elem name="FirstSetOfJoints"> cer_right_hand_mc </elem>
        </paramlist>
    </action>
    <action phase="shutdown" level="20" type="detach" />
</device>
