<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">

<device xmlns:xi="http://www.w3.org/2001/XInclude" name="head-mc_remapper" type="controlboardremapper">
    <paramlist name="networks">
        <elem name="head_joints1">(  0  2  0  2 )</elem>
        <elem name="head_joints2">(  3  3  0  0 )</elem>
    </paramlist>
    <param name="joints"> 4                   </param>
    <action phase="startup" level="5" type="attach">
        <paramlist name="networks">
            <elem name="head_joints1">  head-eb20-j0_2-mc </elem>
            <elem name="head_joints2">  head-eb21-j3-mc </elem>
        </paramlist>
    </action>
    <action phase="shutdown" level="20" type="detach" />
</device>
