<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">

<device xmlns:xi="http://www.w3.org/2001/XInclude" name="left_arm-mc_remapper" type="controlboardremapper">
    <param name="axesNames">(l_shoulder_pitch,l_shoulder_roll,l_shoulder_yaw,l_elbow)</param>
    <param name="joints"> 4 </param>
    <action phase="startup" level="5" type="attach">
        <paramlist name="networks">
            <elem name="left_arm_joints1"> left_arm-eb2-j0_1-mc   </elem>
            <elem name="left_arm_joints2"> left_arm-eb4-j2_3-mc   </elem>
        </paramlist>
    </action>
    <action phase="shutdown" level="20" type="detach" />
</device>