<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">


    <device xmlns:xi="http://www.w3.org/2001/XInclude" name="left_leg-inertials_remapper" type="multipleanalogsensorsremapper">
        <param name="period">       10                  </param>
        <!-- The below parameter names are set from the macro MAS_getTagFromEnum(enum MAS_SensorType) + "Names"
             defined in <yarp/dev/MultipleAnalogSensorsInterfaces.h> and respective device source file -->
        <param name="ThreeAxisGyroscopesNames">
          (l_upper_leg_imu_gyro_1
           l_upper_leg_ems_gyro_eb6
           l_upper_leg_ems_gyro_eb10
           l_lower_leg_ems_gyro_eb7
           l_lower_leg_imu_gyro_2)
        </param>
        <param name="ThreeAxisLinearAccelerometersNames">
          (l_upper_leg_imu_acc_1
           l_upper_leg_mtb_acc_10b1   l_upper_leg_mtb_acc_10b2   l_upper_leg_mtb_acc_10b3   l_upper_leg_mtb_acc_10b4
           l_upper_leg_mtb_acc_10b5   l_upper_leg_mtb_acc_10b6   l_upper_leg_mtb_acc_10b7
           l_lower_leg_mtb_acc_10b8   l_lower_leg_mtb_acc_10b9   l_lower_leg_mtb_acc_10b10  l_lower_leg_mtb_acc_10b11
           l_lower_leg_imu_acc_2
           l_foot_mtb_acc_10b12       l_foot_mtb_acc_10b13)
        </param>

        <action phase="startup" level="5" type="attach">
            <paramlist name="networks">
                <!-- The name of the element can be any string (we use SetOfInertials to better express its nature).
                     Its value must match the device name in the corresponding body_part-jx_y-inertials.xml file
                     or in body_part-ebX-inertials.xml -->
                <elem name="inertialsOnEms6imu">   left_leg-eb6-imu        </elem>
                <elem name="inertialsOnEms6">      left_leg-eb6-inertials  </elem>
                <elem name="inertialsOnEms7imu">   left_leg-eb7-imu        </elem>
                <elem name="inertialsOnEms7">      left_leg-eb7-inertials  </elem>
                <elem name="inertialsOnEms10">     left_leg-eb10-inertials </elem>
            </paramlist>
        </action>

        <action phase="shutdown" level="5" type="detach" />
    </device>

