<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">


    <device xmlns:xi="http://www.w3.org/2001/XInclude" name="alljoints-pos_remapper" type="multipleanalogsensorsremapper">
        <param name="EncoderArraysNames">
            (l_hand_pos2 l_hand_pos4 r_hand_pos2 r_hand_pos4)
        </param>
        <action phase="startup" level="5" type="attach">
            <paramlist name="networks">
                <elem name="l_hand_pos2"> left_hand-pos2  </elem>
                <elem name="l_hand_pos4"> left_hand-pos4  </elem>
                <elem name="r_hand_pos2"> right_hand-pos2 </elem>
                <elem name="r_hand_pos4"> right_hand-pos4 </elem>
            </paramlist>
        </action>

        <action phase="shutdown" level="20" type="detach" />
    </device>

