<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">
<device xmlns:xi="http://www.w3.org/2001/XInclude" name="right_leg-mc_remapper" type="controlboardremapper">
    <paramlist name="networks">
        <elem name="right_leg_joints1">(  0  3 0 3 )</elem>
        <elem name="right_leg_joints2">(  4  5 0 1 )</elem>
    </paramlist>
    <param name="joints"> 6                   </param>
    <action phase="startup" level="5" type="attach">
        <paramlist name="networks">
            <elem name="right_leg_joints1">  right_leg-eb8-j0_3-mc </elem>
            <elem name="right_leg_joints2">  right_leg-eb9-j4_5-mc </elem>
        </paramlist>
    </action>
    <action phase="shutdown" level="20" type="detach" />
</device>
