<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">


    <device xmlns:xi="http://www.w3.org/2001/XInclude" name="left_leg-FT_remapper" type="multipleanalogsensorsremapper">
        <!-- The below parameter names are set from the macro MAS_getTagFromEnum(enum MAS_SensorType) + "Names"
             defined in <yarp/dev/MultipleAnalogSensorsInterfaces.h> and respective device source file -->
        <param name="SixAxisForceTorqueSensorsNames">
          (l_leg_ft l_foot_ft)
        </param>
        <param name="TemperatureSensorsNames">
          (l_leg_ft l_foot_ft)
        </param>
        <action phase="startup" level="5" type="attach">
            <paramlist name="networks">
                <elem name="left_leg-eb6-j0_3-strain">  left_leg-eb6-j0_3-strain </elem>
                <elem name="left_leg-eb7-j4_5-strain">  left_leg-eb7-j4_5-strain </elem>
            </paramlist>
        </action>

        <action phase="shutdown" level="20" type="detach" />
    </device>