<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">

<device xmlns:xi="http://www.w3.org/2001/XInclude" name="left_arm_mc_remapper" type="controlboardremapper">
    <paramlist name="networks">
        <elem name="left_arm_joints">(  0  7  0  7 )</elem>
        <elem name="left_hand_joints">( 8 15  0  7 )</elem>
    </paramlist>
    <param name="joints"> 16 </param>
    <action phase="startup" level="5" type="attach">
        <paramlist name="networks">
            <elem name="left_arm_joints"> left_arm_mc </elem>
            <elem name="left_hand_joints"> left_hand_mc </elem>
        </paramlist>
    </action>
    <action phase="shutdown" level="20" type="detach" />
</device>
