<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">
<device xmlns:xi="http://www.w3.org/2001/XInclude" name="cer_all_joints_mc_remapper" type="controlboardremapper">
    <param name="axesNames">(mobile_base_l_wheel_joint,mobile_base_r_wheel_joint,neck_pitch_joint,neck_yaw_joint,torso_heave_eq_joint,torso_pitch_eq_joint,torso_roll_eq_joint,torso_yaw_joint,r_shoulder_pitch,r_shoulder_roll,r_shoulder_yaw,r_elbow,r_wrist_yaw,r_wrist_roll,r_wrist_pitch,l_shoulder_pitch,l_shoulder_roll,l_shoulder_yaw,l_elbow,l_wrist_yaw,l_wrist_roll,l_wrist_pitch)</param>
    <action phase="startup" level="6" type="attach">
        <paramlist name="networks">
            <elem name="head">            cer_head_mc               </elem>
            <elem name="torso">           cer_torso_equivalent_mc   </elem>
            <elem name="torso_yaw">       cer_torso_mc              </elem>
            <elem name="base">            cer_mobile_base_mc        </elem>
            <elem name="right_arm">       right_arm_no_hand_mc_remapper  </elem>
            <elem name="left_arm">        left_arm_no_hand_mc_remapper   </elem>
        </paramlist>
    </action>
    <action phase="shutdown" level="19" type="detach" />
</device>
