<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">


    <device xmlns:xi="http://www.w3.org/2001/XInclude" name="waist-inertials_remapper" type="multipleanalogsensorsremapper">
        <param name="period">       10                              </param>
        <!-- The below parameter names are set from the macro MAS_getTagFromEnum(enum MAS_SensorType) + "Names"
             defined in <yarp/dev/MultipleAnalogSensorsInterfaces.h> and respective device source file -->
        <param name="ThreeAxisGyroscopesNames">
          (waist_ems_gyro_eb5)
        </param>
        <action phase="startup" level="5" type="attach">
            <paramlist name="networks">
                <!-- The param value must match the device name in the corresponding emsX file -->
                <elem name="inertialsOnEb5">  waist-eb5-inertials </elem>
            </paramlist>
        </action>

        <action phase="shutdown" level="5" type="detach" />
    </device>

