<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">

<device xmlns:xi="http://www.w3.org/2001/XInclude" name="torso-pitch-mj1-setup-mc_remapper" type="controlboardremapper">
    <param name="axesNames">(torso_pitch_mj1_real_encoder, torso_pitch_mj1_fake_encoder)</param>
    <param name="joints"> 2 </param>
    <action phase="startup" level="5" type="attach">
        <paramlist name="networks">
            <elem name="torso-pitch-mj1-setup_joints">  torso-pitch-mj1-setup-mc </elem>
        </paramlist>
    </action>
    <action phase="shutdown" level="20" type="detach" />
</device>
