<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">


    <device xmlns:xi="http://www.w3.org/2001/XInclude" name="right_leg-inertials_remapper" type="multipleanalogsensorsremapper">
        <param name="period">       10                  </param>
        <!-- The below parameter names are set from the macro MAS_getTagFromEnum(enum MAS_SensorType) + "Names"
             defined in <yarp/dev/MultipleAnalogSensorsInterfaces.h> and respective device source file -->
        <param name="ThreeAxisGyroscopesNames">
          (r_upper_leg_imu_gyro_1
           r_upper_leg_ems_gyro_eb8
           r_upper_leg_ems_gyro_eb11
           r_lower_leg_ems_gyro_eb9
           r_lower_leg_imu_gyro_2)
        </param>
        <param name="ThreeAxisLinearAccelerometersNames">
          (r_upper_leg_imu_acc_1
           r_upper_leg_mtb_acc_11b1   r_upper_leg_mtb_acc_11b2   r_upper_leg_mtb_acc_11b3   r_upper_leg_mtb_acc_11b4
           r_upper_leg_mtb_acc_11b5   r_upper_leg_mtb_acc_11b6   r_upper_leg_mtb_acc_11b7
           r_lower_leg_mtb_acc_11b8   r_lower_leg_mtb_acc_11b9   r_lower_leg_mtb_acc_11b10  r_lower_leg_mtb_acc_11b11
           r_lower_leg_imu_acc_2
           r_foot_mtb_acc_11b12       r_foot_mtb_acc_11b13)
        </param>
        <action phase="startup" level="5" type="attach">
            <paramlist name="networks">
                <!-- The name of the element can be any string (we use SetOfInertials to better express its nature).
                     Its value must match the device name in the corresponding body_part-jx_y-inertials.xml file
                     or in body_part-ebX-inertials.xml -->
                <elem name="inertialsOnEms8imu">   right_leg-eb8-imu        </elem>
                <elem name="inertialsOnEms8">      right_leg-eb8-inertials  </elem>
                <elem name="inertialsOnEms9imu">   right_leg-eb9-imu        </elem>
                <elem name="inertialsOnEms9">      right_leg-eb9-inertials  </elem>
                <elem name="inertialsOnEms11">     right_leg-eb11-inertials </elem>
            </paramlist>
        </action>

        <action phase="shutdown" level="5" type="detach" />
    </device>

