<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">

<device xmlns:xi="http://www.w3.org/2001/XInclude" name="rightt_arm-mc_remapper" type="controlboardremapper">
    <paramlist name="networks">
        <elem name="rightt_arm_joints1">(  0  1 0 1 )</elem>
        <elem name="rightt_arm_joints2">(  2  3 0 1 )</elem>
        <elem name="rightt_arm_joints3">(  4  6 0 2 )</elem>
        <elem name="rightt_arm_joints4">(  7  10 0 3 )</elem>
    </paramlist>
    <param name="joints"> 11 </param>
    <action phase="startup" level="5" type="attach">
        <paramlist name="networks">
            <elem name="rightt_arm_joints1"> rightt_arm-eb2-j0_1-mc </elem>
            <elem name="rightt_arm_joints2"> rightt_arm-eb4-j2_3-mc </elem>
            <elem name="rightt_arm_joints3"> rightt_arm-eb31-j4_6-mc </elem>
            <elem name="rightt_arm_joints4"> rightt_arm-eb22-j7_10-mc </elem>
        </paramlist>
    </action>
    <action phase="shutdown" level="20" type="detach" />
</device>
