<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">


    <device xmlns:xi="http://www.w3.org/2001/XInclude" name="alljoints-inertials_remapper" type="multipleanalogsensorsremapper">
        <param name="OrientationSensorsNames">
            (head_imu_0 l_arm_ft_imu l_leg_ft_imu l_foot_rear_ft_imu l_foot_front_ft_imu r_arm_ft_imu r_leg_ft_imu r_foot_rear_ft_imu r_foot_front_ft_imu waist_imu_0)
        </param>
        <action phase="startup" level="5" type="attach">
            <paramlist name="networks">
                <elem name="head_imu">  head-inertial </elem>
                <elem name="l_arm_imu"> left_arm-eb2-j0_1-inertial </elem>
                <elem name="l_leg_imu"> left_leg-eb8-j0_3-inertial </elem>
                <elem name="l_foot_imu"> left_leg-eb9-j4_5-inertial </elem>
                <elem name="r_arm_imu"> right_arm-eb1-j0_1-inertial </elem>
                <elem name="r_leg_imu"> right_leg-eb6-j0_3-inertial </elem>
                <elem name="r_foot_imu"> right_leg-eb7-j4_5-inertial </elem>
                <elem name="waist_imu"> waist-inertial </elem>
            </paramlist>
        </action>

        <action phase="shutdown" level="20" type="detach" />
    </device>
